
.dropdownList{
    box-sizing: border-box;
    position: relative;
    //background-color: rgba(0, 153, 255, 0.5);
    //border: 1px black solid;
    & > img{
        display: block;
    }
    & > .dropdownList__title{
        display: flex;
        align-items: center;
        & > .dropdownList__fstElement{
            display: block;
        }
        & > .dropdownList__arrow{
            margin-left: auto;
        }
    }
    & > .dropdownList__dashboard{
        visibility : "hidden";
        box-sizing: border-box;
        //display: flex;
        //display: block;
        //width: 100%;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.5);
        z-index: 10;
    }
    & > .dropdownList__dashboardBlock{
        box-sizing: border-box;
        //display: flex;
        //display: block;
        width: 100%;
        position: absolute;
        background-color: rgba(255, 255, 255, 1.0);
        z-index: 10;
    }
}