
.dropdownList{
    box-sizing: border-box;
    position: relative;
    & > img{
        display: block;
    }
    & > .dropdownList__title{
        display: flex;
        align-items: center;
        & > .dropdownList__fstElement{
            display: block;
        }
        & > .dropdownList__arrow{
            margin-left: auto;
        }
    }
    & > .dropdownList__dashboard{
        visibility : "hidden";
        box-sizing: border-box;
        position: absolute;
        background-color: $dark-50_color;
        z-index: 10;
    }
    & > .dropdownList__dashboardBlock{
        box-sizing: border-box;
        width: 100%;
        position: absolute;
        background-color: rgba(255, 255, 255, 1.0);
        z-index: 1;
        border-radius:0px 0px 4px 4px;
        border:1px solid $dark-50_color;

        margin-top: -2px;
        padding-top: 5px;
    }
}