.footerModule
    .linkPanel
        +label
        .linkPanel__text
            span Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    .linkPanel
        .linkPanel__title
            span Навигация
        +link({title:"О нас", href:"#"})
        +link({title:"Новости", href:"#"})
        +link({title:"Служба поддержки", href:"#"})
        +link({title:"Услуги", href:"#"})  
    .linkPanel
        .linkPanel__title
            span О нас
        +link({title:"О сервисе", href:"#"})
        +link({title:"Наша команда", href:"#"})
        +link({title:"Вакансии", href:"#"})
        +link({title:"Инвесторы", href:"#"})  
    .linkPanel
        .linkPanel__title
            span Служба поддержки
        +link({title:"Соглашения", href:"#"})
        +link({title:"Сообщества", href:"#"})
        +link({title:"Связь с нами", href:"#"})
    .linkPanel
        .linkPanel__title
            span Подписка
        .linkPanel__text
            span Получайте специальные предложения и новости сервиса
        form(action="#", method="post")
            input( type="email" class="")


//    +label
//    .flex_splitter
//    a(class="", href="*") О нас
//    a(class="", href="*") Услуги
//    a(class="", href="*") Вакансии
//    a(class="", href="*") Новости
//    a(class="", href="*") Соглашения
//    //+link({ title:"О нас", href:"*"})
//    //+link({ title:"Услуги", href:"*"})
//    //+link({ title:"Вакансии", href:"*"})
//    //+link({ title:"Новости", href:"*"})
//    //+link({ title:"Соглашения", href:"*"})
//    span(class="common__whiteButton") Войти
//    span(class="common__blueButton") Зарегистрироваться
//
//
//
//
//    <div class="footer">
//                    <ul class="footer_flex">
//                        <li class="firstItem">
//                            <div class="label mbt_tmp">
//                                <div class="label__logo">
//                                    <img id="logo" src="../images/Vector-2.svg" alt="toxin" />
//                                    <img id="leftPath" src="../images/Vector.svg" alt="toxin" />
//                                    <img id="rigthPath" src="../images/Vector-1.svg" alt="toxin" />
//                                </div>
//                                <div class="label__text">
//                                    <img src="../images/TOXIN.svg" alt="toxin" />
//                                </div>
//                            </div>
//                            <div class="footer_sublist footer_text in">
//                                Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
//                            </div>
//                        </li>
//                        <li>
//                            <span class="footer_title">Навигация</span>
//                            <ul class="footer_sublist footer_list">
//                                <li>
//                                    О нас
//                                </li>
//                                <li>
//                                    Новости
//                                </li>
//                                <li>
//                                    Служба поддержки
//                                </li>
//                                <li>
//                                    Услуги
//                                </li>
//                            </ul>
//                        </li>
//                        <li>
//                            <span class="footer_title">О нас</span>
//                            <ul class="footer_sublist footer_list">
//                                <li>О сервисе</li>
//                                <li>Наша команда</li>
//                                <li>Вакансии</li>
//                                <li>Инвесторы</li>
//                            </ul>
//
//                        </li>
//                        <li>
//                            <span class="footer_title">Служба поддержки</span>
//                            <ul class="footer_sublist footer_list">
//                                <li>Соглашения</li>
//                                <li>Сообщества</li>
//                                <li>Связь с нами</li>
//                            </ul>
//
//                        </li>
//                        <li class="lastItem">
//                            <span class="footer_title">Подписка</span>
//                            <ul class="footer_sublist footer_text">
//                                <li>
//                                    <span>Получайте специальные предложения и новости сервиса</span>
//                                </li>
//                                <li>
//
//                                    <input type="email" class="footer_email" />
//
//                                </li>
//                            </ul>
//                        </li>
//                    </ul>
//                </div>