.headerModule
    +label
    .flex_splitter
    a(class="", href="*") О нас
    a(class="", href="*") Услуги
    a(class="", href="*") Вакансии
    a(class="", href="*") Новости
    a(class="", href="*") Соглашения
    //+link({ title:"О нас", href:"*"})
    //+link({ title:"Услуги", href:"*"})
    //+link({ title:"Вакансии", href:"*"})
    //+link({ title:"Новости", href:"*"})
    //+link({ title:"Соглашения", href:"*"})
    span(class="common__whiteButton") Войти
    span(class="common__blueButton") Зарегистрироваться