.headerModule
    +label
    .flex_splitter
    +link({title:"О нас", href:"#"})
    +dropdownList({arg:"empty"})
        +link({title:"Услуги", href:"#"})
        +link({title:"Услуги_#1", href:"#"})
        +whiteLink({title:"Услуги_#2", href:"#"})
        +blueLink({title:"Услуги_#3", href:"#"})
        +label 
    +link({title:"Вакансии", href:"#"})
    +link({title:"Новости", href:"#"})
    +dropdownList({arg:"empty"})
        +link({title:"Соглашения", href:"#"})
        +link({title:"Вакансии", href:"#"})
        +link({title:"Новости", href:"#"})
    +whiteLink({title:"Войти"})
    +blueLink({title:"Зарегистрироваться"})