.headerModule{
    display: flex;
    align-items: center;
    & > .flex_splitter{
        margin-left: auto;
    }

    & > * + *{
        margin: 10px;
    }
}

.footerModule{
    display: flex;
    justify-content: stretch;
    & > .linkPanel + .linkPanel{
        margin-left: 30px;
    }
    & > .linkPanel{
        display: flex;
        flex-direction: column;
        & > .linkPanel__text{
            @extend %body_text;
            color: $dark-75_color;
        }
        & > form{
            width: 100%;
            & input{
                width: 100%;
            }
        }
        & > .linkPanel__title{
            @extend %h3_text;
            color: $dark-100_color;
            //background-color: yellowgreen;
            margin-top: 5px;

        }    
        & > * + *{
            margin-top: 20px;
        }
    }
    & > .linkPanel:not(:nth-child(1)):not(:nth-last-child(1)){
      //  flex: 1 1 15%;
      flex-basis: 16.667%;
    }
    & > .linkPanel:nth-child(1){
       
        //flex: 1 1 25%;
        flex-basis: 25%;
    }
    & > .linkPanel:nth-last-child(1){
        //flex: 1 1 25%;
        flex-basis: 25%;
    }
    //& > .linkPanel:nth-child(odd){
    //    background-color: yellowgreen;
    //}
    //& > .linkPanel:nth-child(even){
    //    background-color: rgb(50, 130, 205);
    //}
}

.socialModule{
    display: flex;
    & .socialModule__text{
        @extend %body_text;
        color: $dark-50_color;
    }
    & .socialModule__links{
        margin-left: auto;
        & > *{
            margin-left: 20px;
        }
    }
}

//IE
//.headerModule{
//    display: -webkit-box;
//    display: -ms-flexbox;
//    display: flex; 
//    -webkit-box-align: center; 
//        -ms-flex-align: center; 
//            align-items: center;
//}
//
//.footerModule{
//    display: -webkit-box;
//    display: -ms-flexbox;
//    display: flex;;
//}


//.footerModule{
//    display: flex;
//}
//.footerModule ul{
//
//    list-style-type: none;
//    margin: 0;
//    padding: 0;
//}
//.footerModule>div:first-child{
//    flex:25% 1 1;
//    
//}
//.footerModule>div:last-child{
//    flex:25% 1 1;
//}
//.footerModule>div:not(:first-child):not(:last-child){
//    flex:16.67% 1 1;
//}
//.footerModule>*+*{
//    margin-left: 25px;
//}
//
//
//
//
//
//.socialModule{
//    display: flex;
//}