.socialModule
        div.common__inputText14 Copyright C2018 Toxin отель. Все права зачищены
        .flex_splitter
            a 
                img(id="" src="../images/twiter.svg" alt="Twiter")
            a
                img(id="" src="../images/facebook.svg" alt="Facebook")
            a
                img(id="" src="../images/instagram.svg" alt="Instagram")