.blueSubmit{
    position: relative;
    display: flex;
    height: 40px;
    padding: 0 10px 0 10px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    @extend %h3_text;
    background: linear-gradient(180deg, $primary_color, 0%, $gradient_1_color 100%);
    color:$white_color;
    & > input{
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        opacity: 0;
    }
    & > .blueSubmit__Left{
        flex: 0 0 40px;
        text-align: center;
    }
    & > .blueSubmit__Center{
        flex: 1 1 50%;
        text-align: center;
    }
    & > .blueSubmit__Right{
        flex: 0 0 40px;
        text-align: center;
    }
}