.expandList{
    width: 100%;
    height: 40px;
    border: black 1px solid;


    & > .expandList__header{
        height: 100%;
        width: 100%;
        display: flex;
        align-items:center;
       
            & > .expandList__title{
                flex: 1 1 100%;
                background-color: aqua;
            }
            & > .expandList__arrow{
                height: 40px;
                flex: 0 0 40px;
                margin-left: auto;
                background-color: blueviolet;    
                background-image: url(../images/expand_more.svg);
                background-position: right 10px top 15px;
                background-size: 15px;
                background-repeat: no-repeat;
            }
        }
    background-color: chartreuse;
    @extend %h3_text;
   


    width: 100%;
    background: #FFFFFF;
    /* Dark 25% */

    height: 40px;
    /**/

}