/* Primary Color */
$primary_color: #BC9CFF;
/* Secondary Color */
$secondary_color: #6FCF97;
/**/
$gradient_1_color:#8BA4F9;
/* Dark 100% */
$dark-100_color: #1F2041;
/* Dark 75 */
$dark-75_color: rgba(31, 32, 65, 0.75);
/* Dark 50% */
$dark-50_color: rgba(31, 32, 65, 0.5);
/* Dark 25% */
$dark-25_color: rgba(31, 32, 65, 0.25);
/* Dark 5% */
$dark-5_color: rgba(31, 32, 65, 0.05);
/*use inside whiteLink*/
$white_color: #FFFFFF;

@font-face{

    font-family: 'Montserrat';  
    src: url('../fonts/Montserrat-Bold.svg') format('svg'),
    url('../fonts/Montserrat-Bold.woff') format('woff'),
    url('../fonts/Montserrat-Bold.ttf') format('truetype');  
    font-weight: bold;
    font-style: normal;  
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.svg') format('svg'), 
    url('../fonts/Montserrat-Medium.woff') format('woff'), 
    url('../fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

%h1_text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

%h2_text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
}

%h3_text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-transform: uppercase;


}
%comment_text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* or 117% */

}
%leftLabel_text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-align: right;
    text-transform: uppercase;
}

%body_text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
%commonInput{
    width: 100%;
    background: rgb(255, 255, 255);
    /* Dark 25% */
    border: 2px solid $dark-50_color;
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
    padding-left: 0em;

}
%commonInputExpand{
    @extend %commonInput;
    width: 100%;
    background-image: url(../images/expand_more.svg);
    background-position: right 10px top 15px;
    background-size: 15px;
    background-repeat: no-repeat;
}
%link_text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}