/*@import "./../ColorsANDText.scss";*/



.common__whiteButton {
    border-radius: 22px;
    border: 2px solid #BC9CFF;
    
    @extend %h3_text;
    /* Primary Color */
    color: #BC9CFF;

    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.common__blueButton {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;

    @extend %h3_text;
    color: #FFFFFF;

    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
}
.common__inputTitle{
    @extend %h3_text;

/* Dark 100% */
color: $dark-100_color;
}


.common__inputDropdown{
    width: 100%;
    background: #FFFFFF;
    /* Dark 25% */
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
    /**/
    background-image: url(../images/expand_more.svg);
    background-position: right 10px top 15px;
    background-size: 15px;
    background-repeat: no-repeat;
    border: 1px solid rgb(129, 129, 129);
}
.common__inputText14{
/* identical to box height, or 129% */
@extend %body_text;
/* Dark 50% */
color: $dark-50_color;
}
.common__inputText12Up{
@extend %h3_text;
/* Dark 50% */
color: $dark-50_color;
}

.common__inputText12{
@extend %body_text;
/* Dark 50% */
color: $dark-50_color;
}
.test{
    background-color: crimson;
}




.checkboxItem{
    & > .checkboxItem__mainRow{
        display: flex;
        align-items: center;
        @extend %h3_text;
        color: &dark-25_color;

        & > span{
            margin-left: 5px;
        }

        & > input[type=checkbox]{

            flex: 20px 0 0;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
            display: inline-block;        
            width: 20px;
            height: 20px;
            background-color: #FFFFFF;
            /* Primary Color */
            border: 1px solid $dark-50_color;
            border-radius: 4px;
        }
        & > input[type=checkbox]:checked{
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background: url(../images/checkbox_arrow.svg) ;
            background-position: right 4px top 2px;
            background-size: 11px;
            background-repeat: no-repeat;
            border: 1px solid $primary_color;
            background-color: #FFFFFF;
        }
        /**/
        /*---IE---*/
        & > input::-ms-check{
            background-color: #fafafa;
            border: 1px solid #cacece;
            box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
            padding: 9px;
            border-radius: 3px;
            display: inline-block;
            position: relative;
        }
        & >  input:checked::-ms-check{
            background: url(../images/checkbox_arrow.svg) ;
            background-position: right 4px top 2px;
            background-size: 11px;
            background-repeat: no-repeat;
            border: 1px solid $primary_color;
            background-color: #FFFFFF;
        }
        /*---IE---*/
        /**/
    }    

    & >.checkboxItem__additionalRow{
        @extend %comment_text;
        color: $dark-75_color;
        margin-left: 35px;
    }    
    & * .checkboxItem__additionalRow{
        @extend %body_text;
        color: $dark-75_color;
        text-transform: none;
        margin-left: 5px;

    }

}
.checkboxPanel> *+*{
    margin-top:5px;
    padding: 0px;
}
.checkboxPanel__title:nth-child(1){
    margin-bottom:15px;
}
.checkboxPanel__title{
    @extend %h3_text;
}

.dropdownInput{
    margin: 0px;
    padding: 0px;
    position: relative; 
    & > .dropdownInput__title{
        display: flex;

        & > .dropdownInput__leftLabel{
            @extend %h3_text;
            color: $dark-100_color;
        }

        & > .dropdownInput__rightLabel{
            @extend %leftLabel_text;
            color: $dark-50_color;
            margin-left: auto;
        }
    }

    & > .dropdownInput__input{
        display:flex; 
        flex-direction:column;     
        background: #FFFFFF;
        /* Dark 50% */
        border: 1px solid $dark-50_color;
        box-sizing: border-box;
        border-radius: 4px;
        
        & > input{
            @extend %body_text;
            color: $dark-75_color;
            height: 39px;
            background-image: url(../images/expand_more.svg);
            background-position: right 10px top 15px;
            background-size: 15px;
            background-repeat: no-repeat;
            border:1px solid rgb(129, 129, 129);
        }

    }

    & > .dropdownInput__list{
        display: block;
        margin-top: -2px;

        border-radius:0px 0px 4px 4px;
        border:2px solid rgb(129, 129, 129);
        background: white;
        position: absolute; 
        width: 100%;
        padding: 0px 5px 0px 10px;
        box-sizing: border-box;
        z-index: 1;

        & > .clearAceptPanel{
            margin-top: 20px;
            margin-bottom: 10px;
        }
    }

}
.tlistItem{
    display: flex;
    align-items: center;
    & > * {
        margin-top: 7px;
        margin-bottom: 0px;
    }

    & > * + * {
        margin-left: 12px;
    }

    & > .tlistItem__title{
        @extend %h3_text;
    }
    & > .tlistItem__spliter{
        margin-left: auto;
    }
    & > .tlistItem__button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border: 1px solid  $dark-25_color;
        box-sizing: border-box;
        border-radius: 22px;
        @extend %body_text;
        color: $dark-50_color;
    }
    & > .tlistItem__count{
        @extend %h3_text;
        color: $dark-100_color;
    }
}
.clearAceptPanel{
    display: flex;
    
    & > .clear{
        @extend %h3_text;
        color: $dark-50_color;
    }
    & > .accept{
        @extend %h3_text;
        color: $primary_color;
        margin-left: auto;
    }
}