mixin label
    a.label(href="index.pug")
        .label__logo
            img(class="label__circle" src="../images/Vector-2.svg" alt="toxin")
            img(class="label__leftPath" src="../images/Vector.svg" alt="toxin")
            img(class="label__rigthPath" src="../images/Vector-1.svg" alt="toxin")
        .label__text
            img(src="../images/TOXIN.svg" alt="toxin")