mixin label
    .label
        .label__logo
            img(id="logo" src="../images/Vector-2.svg" alt="toxin")
            img(id="leftPath" src="../images/Vector.svg" alt="toxin")
            img(id="rigthPath" src="../images/Vector-1.svg" alt="toxin")

        .label__text
            img(src="../images/TOXIN.svg" alt="toxin")