//Call as:
//+texField({id: "Input id", Left:"Left lable name", Right:"Right lable name"})
//+texField({id: "Input id", Left:"Left lable name", Right:"Right lable name", Placeholder: "placeholder"})
mixin texField_hf(args) 
    -
        var leftLabel = args.Left?args.Left:"UNKNOWN",
            rightLabel = args.Right?args.Right:"UNKNOWN";
    div(class="textField_hf")
        div(class="textField_hf__title")
            label(for=args.id class="textField_hf__leftLabel")= leftLabel
            label(for=args.id class="textField_hf__rightLabel")= rightLabel
        div(class="textField_hf__input")           
            input(id=args.id ltype="text" placeholder=args.Placeholder )