@import "./../styles/ColorsANDText.scss";
@import "./../modules/modules.scss";
@import "./../components/label/label.scss";
@import "./../components/link/link.scss";
@import "./../components/blueLink/blueLink.scss";
@import "./../components/whiteLink/whiteLink.scss";
@import "./../components/dropdownList/dropdownList.scss";
@import "./../components/editableDropdown/editableDropdown.scss";
@import "./../components/inputPreviewBox/inputPreviewBox.scss";
@import "./../components/counterItem/counterItem.scss";
@import "./../components/clearAcceptPanel/clearAcceptPanel.scss";
//@import "./../components/dateDropdown/dateDropdown.scss";
@import "./../components/calendar/calendar.scss";
@import "./../components/blueSubmit/blueSubmit.scss";
//@import "./../components/enterBox/enterBox.scss";

*{
    box-sizing: border-box;
}

//@import "./../styles/common.scss";
//@import "./../components/slider/slider.scss";
//@import "./../components/expandList/expandList.scss";

//
////#region IE styles
//.base{
//    display: -ms-grid;
//        grid-template-areas: 
//    "header header" 
//    "main   main" 
//    "footer footer" 
//    "social social";
//    -ms-grid-columns: 1fr 3fr;
//    grid-template-columns: 1fr 3fr;
//    margin: 0;
//    padding: 0;
//}
//    /* ---HEADER--- */
//    /* ---HEADER--- */
//    /* ---HEADER--- */
//    .base > .header {
//        -ms-grid-row: 1;
//        -ms-grid-column: 1;
//        -ms-grid-column-span: 2;
//        grid-area: header;
//    }
//
//    /* ---MAIN--- */
//    /* ---MAIN--- */
//    /* ---MAIN--- */
//    .base > .main {
//        -ms-grid-row: 2;
//        -ms-grid-column: 2;
//        grid-area: main;
//    }
//
//    /* ---FOOTER--- */
//    /* ---FOOTER--- */
//    /* ---FOOTER--- */
//    .base > .footer {
//        -ms-grid-row: 3;
//        -ms-grid-column: 1;
//        -ms-grid-column-span: 2;
//        grid-area: footer;
//    }
//
//    /*---SOCIAL---*/
//    /*---SOCIAL---*/
//    /*---SOCIAL---*/
//    .base > .social{
//        -ms-grid-row:4;
//        -ms-grid-column:1;
//        -ms-grid-column-span:2;
//        grid-area:social;
//    }
////#endregion

@supports(display: grid){
    .base{
        display: grid;
        grid-template-areas: 
        "header header" 
        "main   main" 
        "footer footer" 
        "social social";
        grid-template-columns: 1fr ;
        margin: 0;
        padding: 0;
    }
    
    
        /* ---HEADER--- */
        /* ---HEADER--- */
        /* ---HEADER--- */
        .base > .header {
            grid-area: header;
            padding-top: 10px;
            padding-left: 140px;
            padding-right: 140px;
        }
    
        /* ---MAIN--- */
        /* ---MAIN--- */
        /* ---MAIN--- */
        @keyframes fade {
            0% {opacity: 0;}
            11.11% {opacity: 1;}
            33.33% {opacity: 1;}
            44.44% {opacity: 0;}
            100% {opacity: 0;}
        }
        .base > .main {
            grid-area: main;
            position: relative;
            height: 830px;
            
            .backgroundImages{
                overflow: hidden;
                width: 100%;
                height: 100%;
                position: relative;
                & > img{
                    position: absolute;
                    width: 100%;
                    left: 0;
                    right: 0;
                    opacity: 0;
                    animation-name: fade;
                    animation-duration: 30s;
                    animation-iteration-count: infinite;
                    z-index: -1;
                }
            }
            :nth-last-child(1){
                animation-delay: 0s;
            }
            :nth-last-child(2){
                animation-delay: 10s;
            }
            :nth-last-child(3){
                animation-delay: 20s;
            }

            & .rightBottoom_text{
                position: absolute;
                @extend %body_text;
                color: $dark-50_color;
                width: 300px;
                text-align: right;
                bottom: 15px;
                right: 130px;
            }
            & .shield{
                position: absolute;
                width: 380px;
                height: 370px;
                left: 140px;
                top: 80px;
                padding: 35px 30px 40px 30px;
                background: #FFFFFF;
                border: 1px solid rgba(0, 0, 0, 0.12);
                box-sizing: border-box;
                box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
                border-radius: 4px;
                & .shield__title{
                    @extend %h1_text;
                    margin-bottom: 25px;
                }
                & .calendar__headContainer{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 5px;
                    & > *+*{
                        margin-left: 15px;
                    }
                    & > div{
                        @extend %h3_text;
                        color: $dark-100_color;
                        flex: 1 1 50%;
                        //border:1px solid green;
                        & > .enterBox{
                            padding-left: 10px;
                            display: flex;
                            align-items: center;
                            @extend %link_text;
                            @extend %commonInput;
                            color: $dark-50_color;
                        }
                    }
                }
            }
        }

        /* ---FOOTER--- */
        /* ---FOOTER--- */
        /* ---FOOTER--- */
        .base > .footer {
            grid-area: footer;
            margin-top: 105px;
            margin-left: 140px;
            margin-right: 140px;
            margin-bottom: 130px;
        }
    
        /*---SOCIAL---*/
        /*---SOCIAL---*/
        /*---SOCIAL---*/
        .base > .social{
            grid-area:social;
            margin-left: 140px;
            margin-right: 140px;
        }
    }
