include ../components/maskedDropdown/maskedDropdown

head
     meta(charset="UTF-8")
     link(rel="stylesheet" href="Room_details.scss")
body
    +maskedDropdown({id:"masked_dates", title:"#placeholder"})
    +maskedDropdown({id:"masked_guests", title:"#555555"})
    +maskedDropdown({id:"1", title:"#pr"})
    +maskedDropdown({id:"2", title:"#pwwwwwwwwwr"})
    +maskedDropdown({id:"3", title:"#pqqqqqqqqqqr"})