doctype html
//include ../components/header/header
include ../components/label/label
include ../components/link/link
include ../components/slider/slider
include ../components/expandList/expandList
include ../components/checkboxItem/checkboxItem

head    
    //link(rel="stylesheet" href="common.scss")
    meta(charset="UTF-8")
    title Search Room v.1
    meta(name="viewport" content="width=device-width, initial-scale=1" )
    
    style

     
    link(rel="stylesheet" href="SearchRoom_1.scss")
    //link(rel="stylesheet" href="../modules/common_modules.scss")   
    //link(rel="stylesheet" href="../components/slider/slider.scss")   
body
    script
        include ../components/common/aux_common.js
    .page
        //main grid
        .base
            //grid header
            .header
                include ../modules/header.pug
            //filter bar
            .left_side
                include ../modules/main_1.pug
                div
                    span(class="common__inputTitle") Даты пребывания в отеле
                    input(class="common__inputDropdown")


                    +dropdownContainer({id:"DD_1", defaultValue:"Сколько гостей", leftLabel:"гости",queryTitle:"quest_count", info:"Гостей;Гость;Гостя;Гостей;"})
                        +dropdownItem({  id:"01", title:"взрослые", minCount:0, maxCount:5,  queryTitle:"adult", info:"Взрослых;Взрослый;Взрослых;Взрослых;"})
                        +dropdownItem({  id:"03", title:"дети", minCount:0, maxCount:4,      queryTitle:"child", info:"Детей;Ребёнок;Ребёнка;Детей;"})
                        +dropdownItem({  id:"02", title:"младенцы", minCount:0, maxCount:3,  queryTitle:"infant", info:"Младенцев;Младенец;Младенца;Младенцев;"})
                        +ACPanel({targetId:"DD_1"})
                div
                    +slider({id:"firstSlider",title:"Диапазон цены", type:"solid", comment:"Стоимость за сутки пребывания в номере"})
                        +slider_stage({empty:"null", type:"number", value:500, move_as:"solid", index:1})
                        +slider_stage({empty:"null", type:"number", value:1000, move_as:"solid", index:2})
                        +slider_stage({empty:"null", type:"number", value:5000, move_as:"solid", index:3})
                        +slider_stage({empty:"null", type:"number", value:10000, move_as:"solid", index:4})
                        +slider_stage({empty:"null", type:"number", value:40000, move_as:"solid", index:5})
                        +slider_stage({empty:"null", type:"number", value:100, move_as:"solid", index:6})
                        +slider_stage({empty:"null", type:"number", value:200, move_as:"solid", index:7})



                div
                    +checkboxContainer({id:"options", title:"Опции"})
                        +checkboxItem({
                            id:"hz", 
                            title:"Можно курить",
                            withoutComent:"true"
                            })
                        +checkboxItem({
                            id: "hz", 
                            title:"Можно с питомцами",
                            withoutComent:"true"
                            })
                        +checkboxItem({
                            id: "hz", 
                            title:"Можно пригласить гостей (до 10 человек)",
                            withoutComent:"true"
                            })
                div
                    +checkboxContainer({id:"availability", title:"доступность"})
                        +checkboxItem({
                            id:"hz", 
                            title:"Широкий коридор", 
                            comment:"Ширина коридоров в номере не менее 91 см."
                            })
                        +checkboxItem({
                            id: "hz", 
                            title:"Помощник для инвалидов", 
                            comment:"На 1 этаже вас встретит специалист  и проводит до номера."
                            })
                div
                    +checkboxItem_2({id:"figa",withoutComent:"true"})
                    +expandList({id:"expand_1"})
                div
                    span(class="common__inputTitle") удобства номера
                    input(class="common__inputDropdown")


                +dropdownContainer({id:"RR_1", defaultValue:"Удобства номера", leftLabel:"Удобства номера",queryTitle:"quest_count", info:"Комнат;Комната;Комнаты;Комнат;"})
                    +dropdownItem({  id:"01", title:"спальни", minCount:0, maxCount:5,  queryTitle:"adult", info:"спален;спальня;спальни;спаленых;"})
                    +dropdownItem({  id:"03", title:"кровати", minCount:0, maxCount:4,      queryTitle:"child", info:"кроватей;кровать;кровати;кроватей;"})
                    +dropdownItem({  id:"02", title:"ванные комнаты", minCount:0, maxCount:3,  queryTitle:"infant", info:"ванных комнат;ванная комната;ванные комнаты;ванных комнат;"})
                    +ACPanel({targetId:"DD_1"})
                div
                    input(class="common__inputDropdown" value="дополнительные удобства")

            //grid room prevews
            .main
                include ../modules/main_1.pug

                +checkboxContainer({id:"testCheckbox_1"})
                    +checkboxItem({id:"qwe", check: "da", name:"one"})
                    +checkboxItem({id: "123"})
                    +checkboxItem({name:"three"})
                    +checkboxItem({name:"four"})

                +checkboxContainer({id:"testCheckbox_2"})
                    +checkboxItem({name:"one"})
                    +checkboxItem({name:"two"})
                    +checkboxItem({name:"three"})
                    +checkboxItem({name:"four"})

                +checkboxContainer({id:"testCheckbox_3"})
                    +checkboxItem({name:"one", coment:"coment"}) 
                    +checkboxItem({name:"two"})
                    +checkboxItem({name:"three"})
                    +checkboxItem({name:"four"})

            //grid footer
            .footer
                include ../modules/footer.pug

            //grid social links
            .social
                include ../modules/social.pug
                script.
                    if(window.aux_heap !=void 0)
                    {
                        setInterval(()=>aux_heap[0].toogle(), 1000);
                        setInterval(()=>console.warn("ghghghghghghghghghghghghghghghghg"), 2000);
              
    
                        //aux_heap[0].cbItemGet();
                        //aux_heap[0].getState("hulio");
                        //aux_heap[0].cbItemSet();
                        //alert("window.aux_heap !=void 0");
                    }

