doctype html
//include ../components/header/header
include ../components/label/label
include ../components/link/link
head    
    link(rel="stylesheet" href="common.scss")
    meta(charset="UTF-8")
    title Search Room v.1
    meta(name="viewport" content="width=device-width, initial-scale=1" )
    link(rel="stylesheet" href="SearchRoom_1.scss")
    link(rel="stylesheet" href="../modules/common_modules.scss")   
body

    .page
        //main grid
        .base
            //grid header
            .header
                include ../modules/header.pug
            //filter bar
            .left_side
                include ../modules/main_1.pug
                div
                    span(class="common__inputTitle") Даты пребывания в отеле
                    input(class="common__inputDropdown")
                div
                    span(class="common__inputTitle") Гости
                    input(class="common__inputDropdown")
                div
                    span(class="common__inputTitle") дивпазон цены
                    span(class="common__inputText12Up") 5 000p-10 000p
                    input(class="common__inputDropdown" value="This is slaider!!!")
                    span(class="common__inputText12") Стоимость за сутки пребывания в номере
                div
                    +checkboxContainer({id:"options", title:"Опции"})
                        +checkboxItem({
                            id:"hz", 
                            title:"Можно курить",
                            withoutComent:"true"
                            })
                        +checkboxItem({
                            id: "hz", 
                            title:"Можно с питомцами",
                            withoutComent:"true"
                            })
                        +checkboxItem({
                            id: "hz", 
                            title:"Можно пригласить гостей (до 10 человек)",
                            withoutComent:"true"
                            })
                div
                    +checkboxContainer({id:"availability", title:"доступность"})
                        +checkboxItem({
                            id:"hz", 
                            title:"Широкий коридор", 
                            comment:"Ширина коридоров в номере не менее 91 см."
                            })
                        +checkboxItem({
                            id: "hz", 
                            title:"Помощник для инвалидов", 
                            comment:"На 1 этаже вас встретит специалист  и проводит до номера."
                            })
                div
                    span(class="common__inputTitle") удобства номера
                    input(class="common__inputDropdown")
                div
                    input(class="common__inputDropdown" value="дополнительные удобства")

            //grid room prevews
            .main
                include ../modules/main_1.pug

                +checkboxContainer({id:"testCheckbox_1"})
                    +checkboxItem({id:"qwe", check: "da", name:"one"})
                    +checkboxItem({id: "123"})
                    +checkboxItem({name:"three"})
                    +checkboxItem({name:"four"})

                +checkboxContainer({id:"testCheckbox_2"})
                    +checkboxItem({name:"one"})
                    +checkboxItem({name:"two"})
                    +checkboxItem({name:"three"})
                    +checkboxItem({name:"four"})

                +checkboxContainer({id:"testCheckbox_3"})
                    +checkboxItem({name:"one", coment:"coment"}) 
                    +checkboxItem({name:"two"})
                    +checkboxItem({name:"three"})
                    +checkboxItem({name:"four"})

            //grid footer
            .footer
                include ../modules/footer.pug

            //grid social links
            .social
                include ../modules/social.pug
