:root {
  font-size: 16px;
}

.page {
  /*
  width: 1440px;
  height: 1880px;*/
  box-sizing: border-box;
  border: 1px black solid;
  padding-right: 135px;
  padding-left: 135px;
  /* background-color: chartreuse;*/
}

.page *,
::after,
::before {
  box-sizing: border-box;
  /*border: 1px black solid;*/
}

/* Primary Color */
/* Secondary Color */
/**/
/* Dark 100% */
/* Dark 75 */
/* Dark 50% */
/* Dark 25% */
/* Dark 5% */
/*use inside whiteLink*/
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Bold.73bdbea0.svg") format("svg"), url("Montserrat-Bold.765c135b.woff") format("woff"), url("Montserrat-Bold.361393eb.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Medium.a2c9dd10.svg") format("svg"), url("Montserrat-Medium.3917c136.woff") format("woff"), url("Montserrat-Medium.53048cef.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.calendar_2 > .calendar__header > .calendar__yearTitle, .calendar_2 > .calendar__header > .calendar__montTitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
}

.enterBox > .enterBox_title > .enterBox__leftLabel, .maskedDropdown .maskedDropdown__title, .blueSubmit, .ac > .accept, .ac > .clear, .counterItem > .counterItem__count, .counterItem > .counterItem__title, .inputPreviewBox > .inputPreviewBox_Title, .whiteLink, .blueLink, .footerModule > .linkPanel > .linkPanel__title, .expandList, .sliderHorizontal .head .title, .clearAceptPanel > .accept, .clearAceptPanel > .clear, .tlistItem > .tlistItem__count, .tlistItem > .tlistItem__title, .dropdownInput > .dropdownInput__title > .dropdownInput__leftLabel, .checkboxPanel__title, .checkboxItem > .checkboxItem__mainRow, .common__inputText12Up, .common__inputTitle, .common__blueButton, .common__whiteButton {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  text-transform: uppercase;
}

.sliderHorizontal .comment, .checkboxItem > .checkboxItem__additionalRow {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* or 117% */
}

.enterBox > .enterBox_title > .enterBox__rightLabel, .sliderHorizontal .head .values, .dropdownInput > .dropdownInput__title > .dropdownInput__rightLabel {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  text-align: right;
  text-transform: uppercase;
}

.enterBox > .enterBox_input > input, .counterItem > .counterItem__button, .socialModule .socialModule__text, .footerModule > .linkPanel > .linkPanel__text, .sliderHorizontal .slider_box .string .preview, .sliderVertical .slider_box .string .preview, .tlistItem > .tlistItem__button, .dropdownInput > .dropdownInput__input > input, .checkboxItem * .checkboxItem__additionalRow, .common__inputText12, .common__inputText14 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.enterBox > .enterBox_input, .maskedDropdown .maskedDropdown_outputBox, .inputPreviewBox > .inputPreviewBox_Box {
  width: 100%;
  background: white;
  /* Dark 25% */
  border: 3px solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  padding-left: 0em;
  background-image: url(expand_more.d4752fec.svg);
  background-position: right 10px top 15px;
  background-size: 15px;
  background-repeat: no-repeat;
}

.maskedDropdown .maskedDropdown_outputBox .maskedDropdown__output, .inputPreviewBox > .inputPreviewBox_Box, .link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

/*@import "./../ColorsANDText.scss";*/
.common__whiteButton {
  border-radius: 22px;
  border: 2px solid #BC9CFF;
  /* Primary Color */
  color: #BC9CFF;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.common__blueButton {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  color: #FFFFFF;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.common__inputTitle {
  /* Dark 100% */
  color: #1F2041;
}

.common__inputDropdown {
  width: 100%;
  background: #FFFFFF;
  /* Dark 25% */
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  /**/
  background-image: url(expand_more.d4752fec.svg);
  background-position: right 10px top 15px;
  background-size: 15px;
  background-repeat: no-repeat;
  border: 1px solid #818181;
}

.common__inputText14 {
  /* identical to box height, or 129% */
  /* Dark 50% */
  color: rgba(31, 32, 65, 0.5);
}

.common__inputText12Up {
  /* Dark 50% */
  color: rgba(31, 32, 65, 0.5);
}

.common__inputText12 {
  /* Dark 50% */
  color: rgba(31, 32, 65, 0.5);
}

.test {
  background-color: crimson;
}

.checkboxItem > .checkboxItem__mainRow {
  display: flex;
  align-items: center;
  color: .checkboxItem > .checkboxItem__mainRow dark-25_color;
  /**/
  /*---IE---*/
  /*---IE---*/
  /**/
}
.checkboxItem > .checkboxItem__mainRow > span {
  margin-left: 5px;
}
.checkboxItem > .checkboxItem__mainRow > input[type=checkbox] {
  flex: 20px 0 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  /* Primary Color */
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-radius: 4px;
}
.checkboxItem > .checkboxItem__mainRow > input[type=checkbox]:checked {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(checkbox_arrow.4134107b.svg);
  background-position: right 4px top 2px;
  background-size: 11px;
  background-repeat: no-repeat;
  border: 1px solid #BC9CFF;
  background-color: #FFFFFF;
}
.checkboxItem > .checkboxItem__mainRow > input::-ms-check {
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}
.checkboxItem > .checkboxItem__mainRow > input:checked::-ms-check {
  background: url(checkbox_arrow.4134107b.svg);
  background-position: right 4px top 2px;
  background-size: 11px;
  background-repeat: no-repeat;
  border: 1px solid #BC9CFF;
  background-color: #FFFFFF;
}
.checkboxItem > .checkboxItem__additionalRow {
  color: rgba(31, 32, 65, 0.75);
  margin-left: 35px;
}
.checkboxItem * .checkboxItem__additionalRow {
  color: rgba(31, 32, 65, 0.75);
  text-transform: none;
  margin-left: 5px;
}

.checkboxPanel > * + * {
  margin-top: 5px;
  padding: 0px;
}

.checkboxPanel__title:nth-child(1) {
  margin-bottom: 15px;
}

.dropdownInput {
  margin: 0px;
  padding: 0px;
  position: relative;
}
.dropdownInput > .dropdownInput__title {
  display: flex;
}
.dropdownInput > .dropdownInput__title > .dropdownInput__leftLabel {
  color: #1F2041;
}
.dropdownInput > .dropdownInput__title > .dropdownInput__rightLabel {
  color: rgba(31, 32, 65, 0.5);
  margin-left: auto;
}
.dropdownInput > .dropdownInput__input {
  display: flex;
  flex-direction: column;
  height: 39px;
  background: #FFFFFF;
  /* Dark 50% */
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
  border-radius: 4px;
}
.dropdownInput > .dropdownInput__input > input {
  color: rgba(31, 32, 65, 0.75);
  height: 40px;
  background-image: url(expand_more.d4752fec.svg);
  background-position: right 10px top 15px;
  background-size: 15px;
  background-repeat: no-repeat;
  border: 1px solid #818181;
}
.dropdownInput > .dropdownInput__list {
  display: block;
  margin-top: -2px;
  border-radius: 0px 0px 4px 4px;
  border: 2px solid #818181;
  background: white;
  position: absolute;
  width: 100%;
  padding: 0px 5px 0px 10px;
  box-sizing: border-box;
  z-index: 1;
}
.dropdownInput > .dropdownInput__list > .clearAceptPanel {
  margin-top: 20px;
  margin-bottom: 10px;
}

.tlistItem {
  display: flex;
  align-items: center;
}
.tlistItem > * {
  margin-top: 7px;
  margin-bottom: 0px;
}
.tlistItem > * + * {
  margin-left: 12px;
}
.tlistItem > .tlistItem__spliter {
  margin-left: auto;
}
.tlistItem > .tlistItem__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 22px;
  color: rgba(31, 32, 65, 0.5);
}
.tlistItem > .tlistItem__count {
  color: #1F2041;
}

.clearAceptPanel {
  display: flex;
}
.clearAceptPanel > .clear {
  color: rgba(31, 32, 65, 0.5);
}
.clearAceptPanel > .accept {
  color: #BC9CFF;
  margin-left: auto;
}

.label {
  display: inline-flex;
  align-items: center;
  /*background-color: darkred;*/
}
.label .label__logo > .label__circle {
  background-color: none;
  width: 40px;
  height: 40px;
}
.label .label__logo > .label__leftPath {
  transform: translate(-31px, 15px);
  position: absolute;
}
.label .label__logo > .label__rigthPath {
  transform: translate(-19px, 15px);
  position: absolute;
}
.label .label__text {
  margin: 5px;
}

.link {
  display: block;
  text-decoration: none;
  color: rgba(31, 32, 65, 0.5);
}

.sliderVertical {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sliderVertical .slider_box {
  flex-shrink: 0;
  flex-grow: 1;
  position: relative;
  box-sizing: border-box;
  border: 1px solid black;
}
.sliderVertical .slider_box .string {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sliderVertical .slider_box .string .emptyLine {
  width: 100%;
  height: 4px;
  background: #FFFFFF;
  /* Dark 25% */
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 3px;
}
.sliderVertical .slider_box .string .preview {
  position: absolute;
  background-color: lime;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 1;
}
.sliderVertical .slider_box .string .fillLine {
  position: absolute;
  /* Secondary Gradient */
  width: 6px;
  height: 100%;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 3px;
}
.sliderVertical .slider_box .string .point {
  position: absolute;
  flex: 0 0 15px;
  margin-right: 0%;
  /* Secondary Gradient */
  width: 15px;
  height: 15px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 2px solid #FFFFFF;
  border-radius: 10px;
}

.markH {
  height: 100px;
  width: 1px;
  background-color: brown;
  position: absolute;
}

.markV {
  height: 1px;
  width: 100px;
  background-color: brown;
  position: absolute;
}

.sliderHorizontal .head {
  display: flex;
  justify-content: space-between;
}
.sliderHorizontal .head .title {
  color: #1F2041;
  flex-shrink: 0;
  flex-grow: 0;
}
.sliderHorizontal .head .values {
  display: flex;
  color: rgba(31, 32, 65, 0.5);
  white-space: nowrap;
  overflow: hidden;
}
.sliderHorizontal .comment {
  color: rgba(31, 32, 65, 0.5);
}
.sliderHorizontal .slider_box {
  width: 100%;
  height: 25px;
  position: relative;
  box-sizing: border-box;
}
.sliderHorizontal .slider_box .string {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sliderHorizontal .slider_box .string .emptyLine {
  width: 100%;
  height: 4px;
  background: #FFFFFF;
  /* Dark 25% */
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 3px;
}
.sliderHorizontal .slider_box .string .preview {
  position: absolute;
  background-color: lime;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 1;
}
.sliderHorizontal .slider_box .string .fillLine {
  position: absolute;
  /* Secondary Gradient */
  width: 100%;
  height: 6px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 3px;
}
.sliderHorizontal .slider_box .string .point {
  position: absolute;
  flex: 0 0 15px;
  margin-right: 0%;
  /* Secondary Gradient */
  width: 15px;
  height: 15px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 2px solid #FFFFFF;
  border-radius: 10px;
}

.expandList {
  width: 100%;
  height: 40px;
  border: black 1px solid;
  background-color: chartreuse;
  width: 100%;
  background: #FFFFFF;
  /* Dark 25% */
  height: 40px;
  /**/
}
.expandList > .expandList__header {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.expandList > .expandList__header > .expandList__title {
  flex: 1 1 100%;
  background-color: aqua;
}
.expandList > .expandList__header > .expandList__arrow {
  height: 40px;
  flex: 0 0 40px;
  margin-left: auto;
  background-color: blueviolet;
  background-image: url(expand_more.d4752fec.svg);
  background-position: right 10px top 15px;
  background-size: 15px;
  background-repeat: no-repeat;
}

.headerModule {
  display: flex;
  align-items: center;
}
.headerModule > .flex_splitter {
  margin-left: auto;
}
.headerModule > * + * {
  margin: 10px;
}

.footerModule {
  display: flex;
  justify-content: stretch;
}
.footerModule > .linkPanel + .linkPanel {
  margin-left: 30px;
}
.footerModule > .linkPanel {
  display: flex;
  flex-direction: column;
}
.footerModule > .linkPanel > .linkPanel__text {
  color: rgba(31, 32, 65, 0.75);
}
.footerModule > .linkPanel > form {
  width: 100%;
}
.footerModule > .linkPanel > form input {
  width: 100%;
}
.footerModule > .linkPanel > .linkPanel__title {
  color: #1F2041;
  margin-top: 5px;
}
.footerModule > .linkPanel > * + * {
  margin-top: 20px;
}
.footerModule > .linkPanel:not(:nth-child(1)):not(:nth-last-child(1)) {
  flex-basis: 16.667%;
}
.footerModule > .linkPanel:nth-child(1) {
  flex-basis: 25%;
}
.footerModule > .linkPanel:nth-last-child(1) {
  flex-basis: 25%;
}

.socialModule {
  display: flex;
}
.socialModule .socialModule__text {
  color: rgba(31, 32, 65, 0.5);
}
.socialModule .socialModule__links {
  margin-left: auto;
}
.socialModule .socialModule__links > * {
  margin-left: 20px;
}

.blueLink {
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, #BC9CFF, 0%, #8BA4F9 100%);
  border-radius: 22px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.blueLink > a {
  text-decoration: none;
  color: #FFFFFF;
}

.whiteLink {
  display: flex;
  justify-content: center;
  border-radius: 22px;
  border: 2px solid #BC9CFF;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.whiteLink > a {
  text-decoration: none;
  /* Primary Color */
  color: #BC9CFF;
}

.dropdownList {
  box-sizing: border-box;
  position: relative;
}
.dropdownList > img {
  display: block;
}
.dropdownList > .dropdownList__title {
  display: flex;
  align-items: center;
}
.dropdownList > .dropdownList__title > .dropdownList__fstElement {
  display: block;
}
.dropdownList > .dropdownList__title > .dropdownList__arrow {
  margin-left: auto;
}
.dropdownList > .dropdownList__dashboard {
  visibility: "hidden";
  box-sizing: border-box;
  position: absolute;
  background-color: rgba(31, 32, 65, 0.5);
  z-index: 10;
}
.dropdownList > .dropdownList__dashboardBlock {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  background-color: white;
  z-index: 1;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  margin-top: -2px;
  padding-top: 5px;
}

@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Bold.73bdbea0.svg") format("svg"), url("Montserrat-Bold.765c135b.woff") format("woff"), url("Montserrat-Bold.361393eb.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Medium.a2c9dd10.svg") format("svg"), url("Montserrat-Medium.3917c136.woff") format("woff"), url("Montserrat-Medium.53048cef.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.dropdownField {
  margin: 0px;
  padding: 0px;
  position: relative;
}

.dropdownField__title {
  display: flex;
  justify-content: space-between;
}

.dropdownField__leftLabel {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  float: left;
  color: #1F2041;
  margin-top: 4px;
}

.dropdownField__rightLabel {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
  float: right;
  margin-bottom: 8px;
}

.dropdownField__input {
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  background: #FFFFFF;
  /* Dark 50% */
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
  border-radius: 4px;
}

.dropdownField__input input {
  height: 39px;
  background-image: url(expand_more.e6da4e87.svg);
  background-position: right 10px top 15px;
  background-size: 15px;
  background-repeat: no-repeat;
  border: 1px solid #818181;
}

.dropdownField__list {
  display: block;
  margin-top: -2px;
  padding-top: 5px;
  border-radius: 0px 0px 4px 4px;
  border: 2px solid #818181;
  background: white;
  position: absolute;
  width: 100%;
  padding: 0px;
  box-sizing: border-box;
  z-index: 1;
}

.dropdownField__footer {
  width: 100%;
}

.dropdownField__acceptRight {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: right;
  color: #1F2041;
  height: 30px;
  margin-top: 3px;
  width: 50%;
}

.dropdownField__acceptLeft {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: left;
  color: #1F2041;
  width: 50%;
  height: 30px;
  margin-top: 3px;
}

.tlistItem {
  height: 40px;
  margin: 0px;
  padding-right: 4px;
  padding-left: 10px;
  padding-top: 0px;
}

.tlistItem__table {
  height: 30px;
  width: 100%;
  border-spacing: 2px 0px;
  margin: -2px 0px 0px 0px;
}

.tlistItem__title {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.tlistItem__count {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  text-align: center;
}

.tlistItem__button {
  width: 30px;
  height: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 22px;
  text-align: center;
}

.inputPreviewBox {
  width: 100%;
}
.inputPreviewBox > .inputPreviewBox_Title {
  color: #1F2041;
}
.inputPreviewBox > .inputPreviewBox_Box {
  color: rgba(31, 32, 65, 0.5);
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.counterItem {
  width: 100%;
  background-color: greenyellow;
  display: flex;
  align-items: center;
}
.counterItem > .counterItem__title {
  margin-left: 10px;
  margin-right: 10px;
}
.counterItem > .counterItem__spliter {
  margin-left: auto;
}
.counterItem > .counterItem__button {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 22px;
  color: rgba(31, 32, 65, 0.5);
}
.counterItem > .counterItem__count {
  color: #1F2041;
}

.ac {
  display: flex;
}
.ac > .clear {
  color: rgba(31, 32, 65, 0.5);
}
.ac > .accept {
  color: #BC9CFF;
  margin-left: auto;
}

.calendar_2 {
  box-sizing: border-box;
  background-color: white;
  border: 1px rgba(31, 32, 65, 0.5) solid;
  border-radius: 4px;
}
.calendar_2 > .calendar__header {
  display: flex;
  align-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.calendar_2 > .calendar__header > .calendar__prevButton {
  margin-left: 20px;
  flex: 0 0 10%;
  background-image: url(arrow_back.86a79e63.svg);
  transform: scale(1, -1);
  background-position: right 10px top 15px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
}
.calendar_2 > .calendar__header > .calendar__nextButton {
  flex: 0 0 10%;
  margin-right: 20px;
  background-image: url(arrow_forward.1b598d5b.svg);
  background-position: center;
  background-size: 15px;
  background-repeat: no-repeat;
}
.calendar_2 > .calendar__header > .calendar__montTitle {
  flex: 1 1 40%;
  color: #1F2041;
  text-align: right;
}
.calendar_2 > .calendar__header > .calendar__yearTitle {
  flex: 1 1 40%;
  /* Dark 100% */
  color: #1F2041;
  text-align: left;
  width: 25%;
}
.calendar_2 .bottom {
  margin: 20px;
}
.calendar_2 .calendar__daysTitle {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.calendar_2 .calendar__month {
  margin-bottom: 10px;
  background: white;
  border-spacing: 0px 0px 0px 0px;
  /*border-collapse: collapse;*/
  border-spacing: 0;
}
.calendar_2 .calendar__month .calendar__daysTitle th {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  text-align: center;
  /* Primary Color */
  color: #BC9CFF;
  height: 13.6%;
  width: 13.6%;
}

.calendar__normalCells {
  padding: 0px;
  margin: 0px;
  background: white;
  color: black;
  border-radius: 40px;
  height: 13.6%;
  width: 13.7%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  /* Secondary Gradient */
  border-radius: 22px;
}

.calendar__mutedCells {
  color: rgba(31, 32, 65, 0.25);
}

.calendar__greenCells {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  color: white;
}

.calendar__blueCells {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  color: white;
}

.calendar__middleCells {
  padding: px;
  margin: 10px;
  color: black;
  height: 13.6%;
  width: 13.7%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  /* Secondary Gradient */
  background: rgba(127, 157, 255, 0.5);
  border-radius: 22px;
}

.blueSubmit {
  position: relative;
  display: flex;
  height: 40px;
  padding: 0 10px 0 10px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: linear-gradient(180deg, #BC9CFF, 0%, #8BA4F9 100%);
  color: #FFFFFF;
}
.blueSubmit > input {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0;
}
.blueSubmit > .blueSubmit__Left {
  flex: 0 0 40px;
  text-align: center;
}
.blueSubmit > .blueSubmit__Center {
  flex: 1 1 50%;
  text-align: center;
}
.blueSubmit > .blueSubmit__Right {
  flex: 0 0 40px;
  text-align: center;
}

.maskedDropdown .maskedDropdown__title {
  margin-bottom: 5px;
  color: #1F2041;
}
.maskedDropdown .maskedDropdown_outputBox {
  display: flex;
  align-items: center;
}
.maskedDropdown .maskedDropdown_outputBox .maskedDropdown__output {
  color: rgba(31, 32, 65, 0.75);
}

.viewer {
  border: 1px solid darkgoldenrod;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px, 1fr);
  grid-gap: 0px;
}

.roomShield {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.roomShield > .fstRow {
  flex: 1 1 100%;
  background-color: blueviolet;
}
.roomShield > .fstRow .imagePanel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  11.11% {
    opacity: 1;
  }
  33.33% {
    opacity: 0;
  }
  44.44% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.roomShield > .fstRow .imagePanel img {
  position: absolute;
  display: inline-block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation-name: fade;
  animation-duration: 40s;
  animation-iteration-count: infinite;
}
.roomShield > .fstRow .imagePanel :nth-last-child(1) {
  animation-delay: 0s;
}
.roomShield > .fstRow .imagePanel :nth-last-child(2) {
  animation-delay: 10s;
}
.roomShield > .fstRow .imagePanel :nth-last-child(3) {
  animation-delay: 20s;
}
.roomShield > .fstRow .imagePanel :nth-last-child(4) {
  animation-delay: 30s;
}
.roomShield > .scdRow {
  padding-left: 1em;
  padding-right: 1em;
  flex: 0 0 2em;
  margin-bottom: auto;
  background-color: chocolate;
  display: flex;
  align-items: center;
}
.roomShield > .scdRow > .costPanel {
  margin-left: auto;
}
.roomShield > .trdRow {
  padding-left: 1em;
  padding-right: 1em;
  flex: 0 0 2em;
  background-color: darkgoldenrod;
  display: flex;
  align-items: center;
}
.roomShield > .trdRow > .comentPanel {
  margin-left: auto;
}

.enterBox {
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
}
.enterBox > .enterBox_title {
  display: flex;
}
.enterBox > .enterBox_title > .enterBox__leftLabel {
  color: #1F2041;
}
.enterBox > .enterBox_title > .enterBox__rightLabel {
  color: rgba(31, 32, 65, 0.5);
  margin-left: auto;
}
.enterBox > .enterBox_input {
  display: flex;
  flex-direction: column;
}
.enterBox > .enterBox_input > input {
  color: rgba(31, 32, 65, 0.75);
  height: 100%;
  width: 100%;
  background-image: url(expand_more.d4752fec.svg);
  background-position: right 10px top 15px;
  background-size: 15px;
  background-repeat: no-repeat;
  border: 1px solid rgba(129, 129, 129, 0);
}

.dropdownInput > .dropdownInput__list {
  display: block;
  margin-top: -2px;
  border-radius: 0px 0px 4px 4px;
  border: 2px solid #818181;
  background: white;
  position: absolute;
  width: 100%;
  padding: 0px 5px 0px 10px;
  box-sizing: border-box;
  z-index: 1;
}
.dropdownInput > .dropdownInput__list > .clearAceptPanel {
  margin-top: 20px;
  margin-bottom: 10px;
}

.verticalContainer {
  background-color: rgba(0, 89, 255, 0.233);
  height: 250px;
}

.base {
  display: -ms-grid;
  grid-template-areas: "header header" "main   main" "footer footer" "social social";
  -ms-grid-columns: 1fr 3fr;
  grid-template-columns: 1fr 3fr;
  margin: 0;
  padding: 0;
}

/* ---HEADER--- */
/* ---HEADER--- */
/* ---HEADER--- */
.base > .header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
}

.headerModule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/*---LEFT SIDE---*/
/*---LEFT SIDE---*/
/*---LEFT SIDE---*/
.base > .left_side {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: left;
}

/* ---MAIN--- */
/* ---MAIN--- */
/* ---MAIN--- */
.base > .main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
}

/* ---FOOTER--- */
/* ---FOOTER--- */
/* ---FOOTER--- */
.base > .footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
}

.footerModule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*---SOCIAL---*/
/*---SOCIAL---*/
/*---SOCIAL---*/
.base > .social {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: social;
}

@supports (display: grid) {
  .base {
    display: grid;
    grid-template-areas: "header header" "left   main" "footer footer" "social social";
    grid-template-columns: 1fr 3fr;
    margin: 0;
    padding: 0;
  }

  /* ---HEADER--- */
  /* ---HEADER--- */
  /* ---HEADER--- */
  .base > .header {
    grid-area: header;
  }

  .headerModule {
    display: flex;
    align-items: center;
  }

  /*---LEFT SIDE---*/
  /*---LEFT SIDE---*/
  /*---LEFT SIDE---*/
  .base > .left_side {
    grid-area: left;
  }

  /* ---MAIN--- */
  /* ---MAIN--- */
  /* ---MAIN--- */
  .base > .main {
    grid-area: main;
  }

  /* ---FOOTER--- */
  /* ---FOOTER--- */
  /* ---FOOTER--- */
  .base > .footer {
    grid-area: footer;
  }

  .footerModule {
    display: flex;
  }

  /*---SOCIAL---*/
  /*---SOCIAL---*/
  /*---SOCIAL---*/
  .base > .social {
    grid-area: social;
  }
}
.flex_splitter {
  margin-left: auto;
}

/*# sourceMappingURL=SearchRoom.5b7883e0.css.map */