@import  "./components/textFields/textFields.scss";
@import  "./components/textFields_HF/textFields_hf.scss";
@import  "./components/editableDropdown/editableDropdown.scss";
.border_block{
    border: 1px dotted black;
}
.formElements-sheet{
    /* Form Elements */
    position: relative;
    width: 1440px;
    height: 1853px;
    background: #FFFFFF;
    border: 1px dotted black;
}
.ext_div_320{
    width: 320px;
    border: 1px solid black;
    
}
