doctype html
include ./components/textFields/textFields
html
    head
        meta(charset="UTF-8")
        title Form Elements
        link(rel="stylesheet", href="FormElements.scss")
        style

    body
        .ext_div_320 
            //.border_block
                div gcjghdhhcfcjgcjgfcg

            +texField({id: "#1", Left:"Text Field", Right:"Default", Placeholder: "Email"})
            br
            br
            +texField({id: "#2", Left:"Text Field", Right:"Hover / Focus", Placeholder:"This is pretty awesome"})
                
