@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.svg') format('svg'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.svg') format('svg'), url('../fonts/Montserrat-Medium.woff') format('woff'), url('../fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Bold.svg') format('svg'), url('../fonts/Quicksand-Bold.woff') format('woff'), url('../fonts/Quicksand-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
.ext_1 {
    width: 1440px;
    height: 1880px;
    border: 1px black solid;
    padding-right: 135px;
    padding-left: 135px;
}
*,
::after,
::before{
    box-sizing:border-box;
}
.grid_1 {
    display: grid;
    grid-template-areas: "header header" "left main" "footer footer" "social social";
    grid-template-columns: 1fr 3fr;
    margin: 0;
    padding: 0;
}

    /* ---HEADER--- */
    .grid_1 > .header {
        grid-area: header;
    }
.header_flex {
    display: flex;
    margin-top: 9px;
    /*padding-left: 137px;
    padding-right: 137px;*/
    list-style-type: none;

    align-items: center;    
    padding:0;
    /*border: 1px solid black;*/
}
    .header_flex li {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        /* Dark 50% */
        color: rgba(31, 32, 65, 0.5);
        
        /*border: 1px solid black;*/
    }
    .header_flex>*+*{

        margin-left:21px;
    }
.flexRigth {
    margin-left: auto;
}
.label {
    display: flex;
    align-items: center;
    /*padding-top:3px;*/

}
.label>*+*{
    margin-left:12px;
}
#logo {
    background-color: none;
    width: 40px;
    height: 40px
}
#leftPath{
    transform:translate(-31px, 15px);
    position:absolute;
}
#rigthPath {
    transform: translate(-19px, 15px);
    position: absolute;
}
.white_button {
    border-radius: 22px;
    border: 2px solid #BC9CFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-transform: uppercase;
    /* Primary Color */
    color: #BC9CFF;

    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.blue_button {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;

    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
}

/*---LEFT SIDE---*/
.grid_1 > .left_bar {
    grid-area: left;

    border:1px solid black;
}

/* ---MAIN--- */
.grid_1 > .main {
    grid-area: main;
    overflow: hidden;
    padding-left: 2.2em;
    padding-top: 2em;
    padding-bottom: 2em;
}
@keyframes fade {
    0% {opacity: 0;}
    11.11% {opacity: 1;}
    33.33% {opacity: 1;}
    44.44% {opacity: 0;}
    100% {opacity: 0;}
}
.background_image {
    position: relative;
}
    .background_image img {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        opacity: 0;
        animation-name: fade;
        animation-duration: 30s;
        animation-iteration-count: infinite;
    }
        .background_image img:nth-child(1) {
            animation-delay: 0s;
        }
        .background_image img:nth-child(2) {
            animation-delay: 10s;
        }
        .background_image img:nth-child(3) {
            animation-delay: 20s;
        }




/* ---FOOTER--- */
.grid_1 > .footer {
    grid-area: footer;
    padding-top:100px;
    padding-bottom:100px;
    /*padding-left:140px;
    padding-right:140px;*/
}

.footer_flex{
    display:flex;    
    justify-content: space-between;

    list-style-type:none;
    padding:0;
    margin:0;
}
.in{
    min-width:260px;
}

    .footer_flex > li {
        /*min-width: 200px;*/
        /*white-space:nowrap;*/
        border:1px dotted green;
        flex:17.86% 1 1;
        color: #1F2041;
    }

    /*.footer_flex:nth-child(1) {
        flex: 28.5% 1 1;
    }*/
.footer_title{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
}
.footer_list{
    white-space: nowrap;
    list-style-type: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-transform: none;
    color: rgba(31, 32, 65, 0.5);
}
.footer_sublist {
    list-style-type: none;
    padding-left: 0;


}
.mbt_tmp {
    margin-bottom:15px;
}
.footer_sublist >li {

    margin-top: 21px;
}
.footer_text {

    /*padding-top:15px;*/

    white-space: normal;
    list-style-type: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    text-transform: none;
    color: rgba(31, 32, 65, 0.5);
}

/*.firstItem,
.lastItem {

}*/

    /*.footer_flex:last-child,
    .footer_flex:first-child {
        background-color:aqua;
    }*/
  
    .footer_flex > * + * {
        margin-left: 35px;
    }
        /*.footer_flex > li > div*/
/*.hz1 {
    white-space: normal;
    word-wrap: normal;
    max-width: 280px;
    overflow-wrap: break-word;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    text-transform: none;
    color: rgba(31, 32, 65, 0.75);
}*/

/*.sublist {
    padding:0;

    white-space:nowrap;
    list-style-type: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    text-transform: none;
    color: rgba(31, 32, 65, 0.5);
}*/

/*.sublist>li{
    margin-top:22px;
}*/

/*.text {
    white-space: normal;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;

    text-transform: none;
    color: rgba(31, 32, 65, 0.5);

        padding-top:15px;
}*/


/*---SOCIAL---*/
.social{
    grid-area:social;
}
.social_flex{
    display:flex;
    align-items:center;

    margin-left:140px;
    margin-right:140px;
    margin-top:25px;
    margin-bottom:200px;
    padding:0;


}
    .social_flex>li{
        list-style-type:none;

    }

.social_text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* Dark 75% */
    color: rgba(31, 32, 65, 0.75);
   
}
.social_flex>*+*{
    margin-left:22px;
}    
.social_spliter {
        margin-left: auto;
    }


/*---MAIN---*/

.main_title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */
    /* Dark 100% */
    color: #1F2041;
    padding-bottom:.75em;
}

.rooms_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px,1fr));
    /*grid-template-rows: 1fr;*/
    /*grid-auto-flow: dense;*/
    grid-row-gap: 17px;
    grid-column-gap:10px;
}
.empty {
    /*width:275px;*/
    height:260px;

    background-color: cadetblue;
}
.side_title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-transform: uppercase;
    /* Dark 100% */
    color: #1F2041;
}

.date_input{
    width: 100%;
    background: #FFFFFF;
    /* Dark 25% */
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
    /**/
    background-image: url(../images/expand_more.svg);
    background-position: right 10px top 15px;
    background-size: 15px;
    background-repeat: no-repeat;
    border: 1px solid rgb(129, 129, 129);
}
/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
.iterface_sheild {
    position: absolute;
    width: 380px;
    height: 374px;
    left: 140px;
    top: 140px;
    background-color: azure;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: 1px solid black;
}
 .border{
     border:1px solid black;
 }
/*form*/

.form_title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    /* Dark 100% */
    color: #1F2041;
}
.flex_date {
    display: flex;
}
.flex_date>*+* {
    margin-left:20px;
    
}
    /*.flex_date 
        input[type=datetime],
        input[type=text] {
            width: 100%;
            background-color: aqua;
        }*/
.find_form {
    padding: 40px 30px 30px 30px;
}
.find_button {
    /*background-position: right 10px top 15px;
    background-size: 15px;
    background-repeat: no-repeat;*/
    /**/
    display:flex;
align-items:center;
/*justify-content:center;*/
flex:100% 0 0;
    width: 100%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    /*background-image: url(../images/expand_more.svg);*/
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);


    border-radius: 22px;
    padding-top: 12px;
    padding-bottom: 12px;
    /**/
    /*border:1px solid black;*/
}
.button_title{
    flex:100% 1 1;
    justify-content:center;
}
.button_sibe{
    flex:50px 0 0;
}
.buton_arrow {
    /*margin-left:auto;*/

    align-self:center;
}
.title_container{
    margin-bottom:18px;
}
.date_title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-transform: uppercase;
    /* Dark 100% */
    color: #1F2041;
    margin-bottom:10px;
}
.flex_date input[type=datetime] {
    width: 100%;
    background: #FFFFFF;
    /* Dark 25% */
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
    /**/
    background-image: url(../images/expand_more.svg);
    background-position: right 10px top 15px;
    background-size: 15px;
    background-repeat: no-repeat;
    border: 1px solid rgb(129, 129, 129);
}

.droplist_container{
    margin-top:22px;
}
.dropdown_input {
    width: 100%;
    background: #FFFFFF;
    /* Dark 25% */
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
    /**/
    background-image: url(../images/expand_more.svg);
    background-position: right 10px top 15px;
    background-size: 15px;
    background-repeat: no-repeat;
    border: 1px solid rgb(129, 129, 129);
}
.button_container{
    margin-top:28px;
}
.footer_email {
    width: 100%;
    background: #FFFFFF;
    /* Dark 25% */
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
    /**/
    background-image: url(../images/arrow_forward_dark.svg);
    background-position: right 10px top 10px;
    background-size: 15px;
    background-repeat: no-repeat;
    border: 1px solid rgb(129, 129, 129);
}